.profile{
    padding: 2em;
}

.input{
    padding: 2em 0em 0em;
    display: flex;
    flex-direction: row;
}

.toUpdate{
    width: 10em;
}

.textfield{
    width: 20em;
    height: 2em;
}

.title{
    padding-bottom: 1em;
}

.password-form{
    padding-bottom: 2em;
}

.book__header{
    font-weight: bold;
}

.delete-button{
    margin-bottom: 1.5em;
}

