.skraElement {
  display: flex;
  flex-direction: row;
  padding-top:0.25em;
  padding-bottom:0.25em;
}

.skraElement p {
  min-width: 35%;
}

.skraElement input {
  min-width: 65%;
}

.skraElement select {
  min-height: 3%;
  min-width: 65%;
}

.lysing {
  padding-top:0.25em;
  padding-bottom:0.25em;
}

.lysing textarea {
  height:150px;
  width:100%;
}

.new-book-form {
  max-width: 700px;
}

.errorMessage{
  color:red;
}