.search-form {
  display: flex;
  font-size: 1rem;
  max-width: 18.5em;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-form input {
  font-size: 1rem;
  padding: 5px;
}

header h1, .search-form, header a {
  margin: 10px 0;
}