h1 {
  margin: 15px 0;
}

.main__content {
  max-width: 1200px;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .main__content {
    margin: 0 auto;
  }
}

.page {
  padding: 20px;
}

label {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-right: 10px;
  color: black;
}

.field-input {
  font-size: 1em;
  display: flex;
  flex: 1.7;
  width: 100%;
  padding: 5px;
  border: solid 1px #000;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 400px;
}

.loginForm button {
  max-width: 100px;
  margin-bottom: 10px;
}

.wrong-input {
  border: 1px solid #f33;
}

.wrong-label {
  color: #f33;
}