.book-info {
  margin-top: 20px;
  margin-left: 40px;
}

.book-title {
  font-weight: bold;
}

.rating{
  margin-top:50px;
  display: flex;
  flex-direction:column;
  min-width: 400px;
  max-width: 600px;
}

.dropdown{
  margin-top:50px;
}

.buttons{
  margin-top:20px;
  display: -webkit-inline-flex;
}

.about{
  min-width: 400px;
  max-width: 700px;
  height: 200px;
}

.textarea{
  min-width: 100%;
  min-height: 100%;
}

.cancel-button{
  margin-left: 50%;
}

.review{
  margin-top: 20px;
}

.btnright{
  min-width: 50%;
  max-width: 50%;
  align-self: flex-end;
}

.btnleft{
  min-width: 50%;
  max-width: 50%;
}